<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>

<title>Credi Card Fraud</title>


</head>

<body>


<header>

  <!--the navigation bar with the links -->
  <nav class="navbar navbar-expand-md navbar-Orange fixed-top bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" onclick="href='#home.html'" style="font-size: 150%;"> Home </a> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#box" style="font-size: 150%"> Definition </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" onclick="href='#credit_card_fraud.html'" style="font-size: 150%"> Dashboard </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#F1" style="font-size: 150%"> Our Team </a>
        </li>
      </ul>
    </div>
  </nav>

</header>

<!--Presentation of the project in a jumbotron-->
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 align="center" class="display-4">Credit Card Fraud Detection</h1>
  
      <p align="center" color="#000046" class="lead">To raise awareness and educate consumers about credit card fraud and how they can protect themselves.</p>
    </div>
  </div>

  <!--make box for the definition drop down button-->

  <section class="container">
    <div class="row" id="box">
      <div class="col-lg-1">
        <h2 style="font: size 8;">Definition of credit card fraud</h2>
        <p><font size="4">According to a Cornell Law School page,<br/>https://www.law.cornell.edu/wex/credit_card_fraud, “Credit card fraud is a form
        of identity theft that involves an unauthorized taking of another’s credit card information for the purpose of charging
        purchases to the account or removing funds from it.”</font></p>
      </div>
    </div>
  </section>


  <!--slide start here-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
      <li data-target="#myCarousel" data-slide-to="5" class=""></li>
    </ol>
    <!--slide start here-->
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777"></rect>
        </svg>
        <div class="container">
          <!--image slide editing-->
          <div class="carousel-caption text-left">
            <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <rect width="100%" height="100%" fill="#777"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-right">

          </div>
        </div>
      </div>
    </div>
    <!--slider control-->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--<h1 id="intro">What is a credit card fraud?</h1>
    <p>From <a href="https://www.law.cornell.edu/wex/credit_card_fraud">"law.cornell"</a> a credit card fraud is a form of identity theft that involves an unauthorized taking of another’s credit card information
    for the purpose of charging purchases to the account or removing funds from it. Federal law limits cardholders’
    liability to $50 in the event of credit card theft, but most banks will waive this amount if the cardholder signs an
    affidavit explaining the theft.</p>-->
<section>
  
</section>

  <footer class="container" id="F1">
  <section>
    <div class="row">

      <div class="col-lg-3">

        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Lamine</h2>
        <p>
          Data science student</br>Project leader
        </p>
        <p><a class="btn btn-secondary" class="fa fa-linkedin" href="#" role="button"></a></p>
      </div>

      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Samuel</h2>
        <p>
          Data Science Student
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>

      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Mawaki</h2>
        <p>
          Data Science Student
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>

      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Jewel</h2>
        <p>
          Data Science Student
        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>

    </div>
  </section>

  <p class="float-right">
    <a href="https://getbootstrap.com/docs/4.4/examples/carousel/#">Back to top</a>
  </p>

  <p>
    © Python 4 @ The Knowlegde House · 
    <a href="https://getbootstrap.com/docs/4.4/examples/carousel/#">
      Privacy
    </a> · 
    <a href="https://getbootstrap.com/docs/4.4/examples/carousel/#">
      Terms
    </a>
  </p>


  </footer>

</body>


<style>

  #box {
  background-color: rgba(233, 72, 8, 0.89);
  width: 350px;
  padding: 50px;
  margin: 20px;
  }



</style>

</html>